* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Open sans', sans-serif;
}

body {
    background-color:#516566;
    margin:0;
    overflow-x: hidden;
	position: relative;
}

header, article, footer {
    width:90vw;
    margin: 0 auto;
}


h1, h2, h3, h4, h5 {
	font-weight: 800;
	color: #516566;	
}

nav, button {
	font-family: 'Helvetice Neue', sans-serif;
	font-style: italic;
	color: #fff;	
	border-radius: 2px;
	-webkit-transition: all 0.12s ease-out;
	-moz-transition:    all 0.12s ease-out;
	-ms-transition:     all 0.12s ease-out;
	-o-transition:      all 0.12s ease-out;
}

a {text-decoration: none;}

i {color: #FF8181;}

a:link {
	color: #FF8181;
	text-decoration: none;
}

a:visited {
	color: #FF8181;
	text-decoration: none;
}

a:hover {
	position: relative;
	border-bottom: 3px solid #fff;
	-webkit-transition: all 0.12s ease-out;
	-moz-transition:    all 0.12s ease-out;
	-ms-transition:     all 0.12s ease-out;
	-o-transition:      all 0.12s ease-out;
}

button {
	font-size: 2em;
	font-weight: 700;
	border: 1px solid #FF8181;
	text-transform: uppercase;
	padding: 5px 15px;
}

button:hover {
	background-color: #fff;
	color: #FF8181;
	padding: 5px 20px;
	-webkit-transition: all 0.12s ease-out;
	-moz-transition:    all 0.12s ease-out;
	-ms-transition:     all 0.12s ease-out;
	-o-transition:      all 0.12s ease-out;
	
}

button, header h1 {background-color: #FF8181;}

h1 {
	font-size: 3.5em;
	margin-top: 50px;
	float: left;
	margin-left: 20px;
}

nav {
	width: 90vw;
  	margin: 0 auto;	
}

.fixed-nav nav {
	position: fixed;
	top: 0;
	left: 50px;
  	z-index: 1;
}

nav a {
	background-color: #fff;
	color: #FF8181;
	padding: 10px;
	padding-bottom: 3px;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}

nav a:hover {
	background-color: #FF8181;
	color: #fff;
}

nav a:nth-child(1) {
	color: #fff;
	background-color: #FF8181;
	margin-right: 30px;
}

nav a:nth-child(2) {display: none;}

.index header {padding-top: 200px;}

header img {
	height: 400px;
	margin: 0 20px;
	float: right;
}

header h2 {
	color:#fff;
	float: none;
	padding-top: 50px;
}

footer h3 {
	color: #fff; 
	text-align: center;
	margin-bottom: 50px;
}

footer p {text-align: center}

footer a {margin-right: 40px;}


 .mywhy {
	background-color: #fff;
}

.mywhy h3 {
	font-size: 1.7em;
	text-align: center;
	padding-bottom: 50px;
}


.mywhy div {
	width: 32%;
	 position: relative;
	float: left;
	text-align: center;
}

.mywhy div i {font-size: 2em;}

.mywhy div h4 {
	font-family: 'Open sans', sans-serif;
	font-style: normal;
	font-weight: 800;
	background-color: #fff;
	color: #FF8181;
}

/*--- LOGOS ---*/

.logos h2 {
	color: #fff;
	padding: 30px 0px;
}



.logos img {
	width: 10%;
	padding: 10px;
	margin: 6px;
}



/*--- testimonials ---*/



.testimonials h3 {
	color: #FF8181;
	font-family: 'Open sans', sans-serif;
	font-style: normal;
	font-weight: 700;
}

.testimonials div {
	width: 46%;
	text-align: center;
	position: relative;
	float: left;
	padding: 20px 10px;
}

/*--- PROJECT LIBRARY PAGE ---*/

.project article, .index article {overflow: auto;}

.projectscontainter .projects {overflow: none;}

.center {
	width: 100%;
	display: flex;
  	justify-content: center;

}

.projects {
	position: relative;
	width: 45%;
	height: 250px;
	background-color: #516566;
	float: left;
	margin: 20px;
	border-radius: 2px;
	background-position: center top;
	background-size: cover;
	 
}

.projects:hover {
	position: relative;
	top: -3px;
	left: -3px; 
	border-bottom: none;
	box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.12s ease-out;
	-moz-transition:    all 0.12s ease-out;
	-ms-transition:     all 0.12s ease-out;
	-o-transition:      all 0.12s ease-out;
}

.projects .comingsoon {
	color: #fff;
	font-size: 0.9em;
	background-color: gray;
	border-radius: 3px;
	float: right;
	padding: 1px 5px;
	margin: 15px 20px;
}

.projects h4 {
	display: none;
	width: 100%;
	position: absolute;
	top: 40%;
	font-size: 1.7em;
	text-align: center;
	color: #fff;
	padding: 10px;
	text-shadow:1px 1px #FF8181, 
				2px 2px #FF8181, 
                3px 3px #FF8181;
}

.projects:hover h4 {display: block;}

.projects:nth-child(1){background-image: url(images/portfolio/claudio.png);} 

.projects:nth-child(2){background-image: url(images/portfolio/mediumarticle.png);} 

.projects:nth-child(3){background-image: url(images/portfolio/ws_kth.jpg); background-position: center;}

.projects:nth-child(4){background-image: url(images/portfolio/lumitrack.png);}

.projects:nth-child(5){background-image: url(images/portfolio/passionproject2.png);}

.projects:nth-child(6){background-image: url(images/portfolio/redesgign.png);}


/*--- PROJECT PAGES ---*/

.project img, .project iframe {
	height: 38vh;
	float: right;
}

.project .description {
	width: 30%;
	float: left;
	margin-top: 20px;
}

.project .description h3 {
	color: #FF8181;
	padding-top: 20px;
}

.project .description p, .project .description i {
	color: #fff;
}

.project .description button {
	margin-top: 50px;
	font-size: 1.5em;
}


.deeperdescription div:nth-child(2) {
	float: right;
	width: 40%;
	padding: 90px 0px;
}

.deeperdescription div:nth-child(4) {
	float: left;
	width: 60%;
	padding: 90px 0px;
}

.deeperdescription div:nth-child(7) {
	float: left;
	width: 40%;
	padding: 90px 0px;
}

.deeperdescription p {
	padding: 5px 0px;
}

.deeperdescription img:nth-child(1) {
	width: 48%;
	height: auto;
	float: left;
}

.deeperdescription img:nth-child(3) {
	width: 48%;
	height: auto;
	float: right;
}

.deeperdescription img:nth-child(5) {

	width: 41%;
	height: auto;
	float: right;
}

.deeperdescription img:nth-child(6) {
	width: 56%;
	height: auto;
	float: left;
}

.deeperdescription button {
	margin: 20px 0px 0px 0px;
}

.transdevpadding {padding-bottom: 50px;}

/*--- ___ ---*/

section {width: 100%;}

.container {overflow:hidden; width:100%; }

.angle2, .angle3 {height:200px;}
.angle1, .angle4 {height: 300px;}
.angle1 {padding-top: 100px;}

.angle2, .angle3, .fisken {
	background-color: #fff;
}


.angle1, .angle2, .angle3, .angle4 {
    margin:0 -50px;
    -webkit-transform-origin:left center;
    -moz-transform-origin:left center;
    -o-transform-origin:left center;
    -ms-transform-origin:left center;
    transform-origin:left center
}

.angle1:nth-child(odd), .angle3:nth-child(odd) {

    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    transform:rotate(-5deg);
    z-index:-1
}

.angle1:nth-child(odd) .foreg, .angle3:nth-child(odd) .foreg {
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
    transform:rotate(5deg)
}
 
.angle2:nth-child(odd), .angle4:nth-child(odd) {
   
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
    transform:rotate(5deg);
    z-index:-1
}

.angle2:nth-child(odd) .foreg, .angle4:nth-child(odd) .foreg {
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    transform:rotate(-5deg)
}

/*---  MOBIL  ---*/



@media only screen and (max-width: 600px){
	
	/*body {
		background-color: blue
	}*/
	
	nav {width: 100vw;}
	
	nav a:nth-child(1){display: none;}
	
	nav a:nth-child(2){
		display: inline-block;
		color: #fff;
		background-color: #FF8181;
	}
	
	.fixed-nav nav {left: 15px;}
	
	header, article, footer {width:95vw;}
	
	.index header {
		height: 1000px;
		padding-top: 0px;

	}
	
	.index header img {
		height: 200px;
		display: none;

	}
	
	.index header h2 {
		font-size: 1.5em;
		padding-bottom: 100px;
	}
	
	.mywhy {height: auto;}
	
	.mywhy div {width: 100%;}
	
	.mywhy h3 {font-size: 1.2em;}
	
	.projects {width: 90%}
	
	.projects:hover {display: block}
	
	.logos img {width: 15%}
	
	.testimonials div {width: 95%}
	
	.project .description {width: 90%;}
	
	.project img {
		height: 30vh;
		float: left;
		padding: 20px 0px;
	}
	
	.project iframe {
		height: 30vh;
		float: left;
		margin: 20px 0px;
	}
	
	.fisken button {font-size: 1.2em;}
}

@media (hover: hover) {
	
	
	
}